{% extends 'base.html.twig' %}

{% block title %}Les jardins du Golfe de St Tropez{% endblock %}

{% block body %}
    <main class="main">
        {% for message in app.flashes('messageFormContactSent') %}
            <p id='js-contact-form-sent' class='app-flash-message'>{{message}}</p>
        {% endfor %}
        {% for home_page in home_pages %}
        <section class="title-page__design">
            <img src="{{ asset('build/images/palmier.png')}}" alt="Palmier qui tourne" class='title-page__icon'>
            <h1 class="title-page__title">{{ home_page.title }}</h1>
            <img src="{{ asset('build/images/palmier.png')}}" alt="Palmier qui tourne" class='title-page__icon'>
        </section>
        <section class="main__text-contain">
            <p class="main__text">{{ home_page.presentationText }}</p>
        </section>
        <section class="caroussel">
            <h2 class="caroussel__title">Voici un échantillon de sujets que vous pouvez retrouver dans notre pépinière</h2>
            <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner caroussel__images">
                <div class="carousel-item active">
                <img src="{{ asset('build/images/flowers/roses-44.jpg')}}" alt="Roses">
                </div>
                <div class="carousel-item">
                <img src="{{ asset('build/images/trees/olive-tree.jpg')}}" alt="Olivier">
                </div>
                <div class="carousel-item">
                <img src="{{ asset('build/images/trees/palm-tree.jpg')}}" alt="Palmier">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
            <a  class="caroussel__link" href="{{ path('app_topics_index')}}">Aller vers notre pépinière</a>
        </section>
        <section class="tutos-section-link">
            <h2 class="tutos-section-link__title">Créez-vous un compte et accédez à nos tutos !</h2> 
            <a class="tutos-section-link__link" href="{{ path('app_register')}}">S'inscrire</a>
        </section>
        <section class="opinions-section-link">
            <h2 class="opinions-section-link__title">Retrouver tous nos avis sur notre page dédiée</h2> 
            <a class="opinions-section-link__link" href="{{ path('app_opinion_index')}}">Nos Avis</a>
        </section>
        {% if is_granted('ROLE_ADMIN') %}		
            <div class="admin-home-page-edit">
                <a class="admin-home-page-edit__button buton" href="{{ path('app_home_page_edit', {'id': home_page.id }) }}">Modifier</a>
            </div>
        {% endif %}
        {% endfor %}
        <section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
    </main>
{% endblock %}
