{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="login-form">
        <div class="login-form__design">
            <h1 class="login-form__title h3 mb-3 font-weight-normal">Connexion</h1>
            <form class="login-form__form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                    </div>
                {% endif %}

                <div class="login-form__field">
                    <label class="login-form__field--label" for="inputEmail">Email</label>
                    <input class="login-form__field--input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="login-form__field">
                    <label class="login-form__field--label" for="inputPassword">Mot de passe</label>
                    <input class="login-form__field--input" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="login-form__button-div">
                    <button class="login-form__button-div--button btn btn-lg btn-primary" type="submit">Se connecter</button>
                </div>
            </form>
        </div>
        <section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
    </main>
{% endblock %}
