{% extends 'base.html.twig' %}

{% block title %}Tutos - Les Jardins du Golfe{% endblock %}

{% block body %}
    <main class="tips">
        <h1 class="tips__title">Nos tutos</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <div class='tips__modifications'>
                <a href="{{ path('app_tips_new') }}" class='tips__modifications--new'>Ajouter un tuto</a>
            </div>
        {% endif %}

        <ul class="tips__list">
            {% for tip in tips %}
                <li class="tip">
                    <img class="tip__image" src="{{ vich_uploader_asset(tip, 'imageFile') }}" alt={{tip.name}} width=100px height=100px>
                    <p class="tip__title">{{tip.name}}</p>
                    <a href="{{ path('app_tips_show', {'id': tip.id})}}" class='tip__link-to-show-tip'>Voir le sujet</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class='tip__modifications'>
                            <a href="{{ path('app_tips_edit', {'id': tip.id}) }}" class='tip__modifications--modifier'>Modifier</a>
                            <a href="{{ path('app_tips_delete', {'id': tip.id}) }}" class='tip__modifications--delete'>Supprimer</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
    </main>
{% endblock %}
