	<section class="topics">
		{% if is_granted('ROLE_ADMIN') %}
			<div class='topics__modifications'>
				<a href="{{ path('app_topics_new') }}" class='topics__modifications--new'>Ajouter un sujet</a>
			</div>
		{% endif %}
		<ul class="topics__list">
			{% for topic in topics %}
				<li class="topic">
					<img class="topic__image" src="{{ vich_uploader_asset(topic, 'imageFile') }}" alt={{topic.name}} width=100px height=100px>
					<p class="topic__title">{{topic.name}}</p>
					<p class="topic__text">{{topic.description}}</p>
					<a href="{{ path('app_topics_show', {'id': topic.id})}}" class='topic__link-to-show-topic'>Voir le sujet</a>
					{% if is_granted('ROLE_ADMIN') %}
						<div class='topic__modifications'>
							<a href="{{ path('app_topics_edit', {'id': topic.id}) }}" class='topic__modifications--modifier'>Modifier</a>
							<a href="{{ path('app_topics_delete', {'id': topic.id}) }}" class='topic__modifications--delete'>Supprimer</a>
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</section>

{# Variables personnalisées #}

{# Récupère tous les paramètres de notre url #}
{% set queryParams = app.request.query.all %}

{# Récupère les paramètres de notre url sauf le paramètre page #}
{% set queryFilters = queryParams|filter((v, k) => k is not same as ('page') and k is not same as ('ajax'))|url_encode %}

	<section class='paging'>
		{# Permet de récupérer le nombre de pages total.
		Le filtre twig round avec ceil permet de récupérer l'entier supérieur,
		0 correspondant au nombre de chiffre après la virgule #}
		{% set pages = ((total / limit)|round(0, 'ceil')) %}
		<ul class='paging__list'>
			<li>
				<a class='paging__list--first-page' href="{{path('app_topics_index', {'page': 1}) }}&{{queryFilters}}">Première page</a>
			</li>
			<li class='{{ (page == 1) ? 'disabled' : ''}}'>
				<a class="paging__list--previous-page" href="{{ (page > 1) ? path('app_topics_index', {'page': page - 1}) : '' }}&{{queryFilters}}">Page précédente</a>
			</li>
			<div class='paging__pages-list'>
				{% for item in 1..pages %}
					<li class='{{ (page == item) ? 'active' : ''}} paging__list--item-container'>
						<a class="paging__list--item" href="{{ path('app_topics_index', {'page': item}) }}&{{queryFilters}}">{{ item }}</a>
					</li>
				{% endfor %}
			</div>
			<li class='{{ (page == pages) ? 'disabled' : ''}}'>
				<a class="paging__list--next-page" href="{{ (page < pages) ? path('app_topics_index', {'page': page + 1}) : '' }}&{{queryFilters}}">Page suivante</a>
			</li>
			<li>
				<a class='paging__list--last-page' href="{{path('app_topics_index', {'page': pages}) }}&{{queryFilters}}">Dernière page</a>
			</li>
		</ul>
	</section>