{% extends 'base.html.twig' %}

{% block title %}Pépinière - Les Jardins du Golfe{% endblock %}

{% block body %}

{# Variable personnalisée qui permet de récupère tous les paramètres de notre url #}
{% set queryParams = app.request.query.all %}

	<main class="topics-page">
		<section class="title-page">
            <div class="title-page__design">
                <img src="{{ asset('images/palmier.png')}}" alt="palmier qui tourne" class='title-page__icon'>
                <h1 class="title-page__title">La pépinière</h1>
                <img src="{{ asset('images/palmier.png')}}" alt="Palmier qui tourne" class='title-page__icon'>
            </div>
            <p class="title-page__text">Voici tous nos sujets.</p>
        </section>

		<section class='filters'>
			<p id="js_filters_button" class='filters__title'>Filtrer les sujets</p>
			<form id='filters_form' class='filters__form hide-filters-topics'>
				<div class='category-filters flex-center'>
					<p class='category-filters__title'>Filtrer par catégorie</p>
					<div class='category-filters__select-container'>
						{% for category in categories %}
						{# Permet de vérifier s'il y a une catégorie dans les paramètres de l'url, et si oui alors la case correspndante est cochée #}
							{% if queryParams is not empty and queryParams.categories is defined %}
								{% set checked = (category.id in queryParams.categories) ? 'checked' : '' %}
							{% else %}
								{% set checked = "" %}
							{% endif %}
							<div class='category-filters__select-container'>
								<input type='checkbox' name='categories[]' value='{{category.id}}' id='category{{category.id}}' {{checked}} class='filters__checkbox'>
								<label for='category{{category.id}}' class='filters__label'>{{category.name}}</label>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class='exposure-filters'>
					<p class='exposure-filters__title'>Filtrer par lieu de plantation</p>
					<div class='exposure-filters__select-container'>
						{% for exposure in exposures %}
							{% if queryParams is not empty and queryParams.exposures is defined %}
								{% set checked = (exposure.id in queryParams.exposures) ? 'checked' : '' %}
							{% else %}
								{% set checked = "" %}
							{% endif %}
							<div class='category-filters__select-container'>
								<input type='checkbox' name='exposures[]' value='{{exposure.id}}' id='exposure{{exposure.id}}' {{checked}} class='filters__checkbox'>
								<label for='exposure{{exposure.id}}' class='filters__label'>{{exposure.name}}</label>
							</div>
						{% endfor %}
					</div>
				</div>
				<input type="hidden" name='page' value='{{page}}'>
			</form>
		</section>
		<section id='filtered_topics' class='topics-page__presentation--filtered-topics'>
			{% include 'topics/_topics.html.twig'%}
		</section>
		<section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
	</main>
{% endblock %}
