{% extends 'base.html.twig' %}

{% block title %}{{ topic.name }} - Les jardins du Golfe{% endblock %}

{% block body %}
    <main class="topic-show">
        <div class="topic-show__design">
            <img class="topic-show__image" src="{{ vich_uploader_asset(topic, 'imageFile') }}" alt="{{ topic.name }}">
            <h1 class="topic-show__title">{{ topic.name }}</h1>
            <div class="topic-show__presentation">
                <p class="topic-show__presentation--text"><b>Nom latin : </b>{{topic.latinName}}</p>
                <p class="topic-show__presentation--text"><b>Arrosage : </b>{{ topic.watering }}</p>
                <p class="topic-show__presentation--text"><b>Lieu de plantation : </b>{{ topic.exposition }}</p>
                <p class="topic-show__presentation--text"><b>Exposition : </b>{{ topic.exposure }}</p>
                <p class="topic-show__presentation--text">{{ topic.description }}</p>
            </div>
        </div>
        <div class="topic-show__links">
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('topics/_delete_form.html.twig') }}
            <a class="topic-show__links--modifier" href="{{ path('app_topics_edit', {'id': topic.id}) }}">Modifier</a>
        {% endif %}
            <a class="topic-show__links--back-topics" href="{{ path('app_topics_index') }}">Retourner à la liste des sujets</a>
        </div>
        <section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
    </main>
{% endblock %}
