{% extends 'base.html.twig' %}

{% block title %}Opening{% endblock %}

{% block body %}
    <h1>Opening</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opening.id }}</td>
            </tr>
            <tr>
                <th>OpeningDay</th>
                <td>{{ opening.openingDay }}</td>
            </tr>
            <tr>
                <th>OpeningHourMorning</th>
                <td>{{ opening.openingHourMorning }}</td>
            </tr>
            <tr>
                <th>ClosingHourMorning</th>
                <td>{{ opening.closingHourMorning }}</td>
            </tr>
            <tr>
                <th>OpeningHourAfternoon</th>
                <td>{{ opening.openingHourAfternoon }}</td>
            </tr>
            <tr>
                <th>ClosingHourAfternoon</th>
                <td>{{ opening.closingHourAfternoon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opening_index') }}">back to list</a>

    <a href="{{ path('app_opening_edit', {'id': opening.id}) }}">edit</a>

    {{ include('opening/_delete_form.html.twig') }}
{% endblock %}
