{% extends 'base.html.twig' %}

{% block title %}Opinion{% endblock %}

{% block body %}
    <h1>Opinion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opinion.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ opinion.name }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ opinion.avis }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ opinion.score }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ opinion.createdAt ? opinion.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsModerated</th>
                <td>{{ opinion.isModerated ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_opinion_index') }}">back to list</a>

    <a href="{{ path('app_opinion_edit', {'id': opinion.id}) }}">edit</a>

    {{ include('opinion/_delete_form.html.twig') }}
{% endblock %}
