{% extends 'base.html.twig' %}

{% block title %}Avis - Les Jardins du Golfe{% endblock %}

{% block body %}
    <main class="opinion-show">
        <div class="opinion-show__design">
            <h1 class="opinion-show__title">Avis client</h1>
            <ul class="opinion-show__contain">
                <li class="opinion-show__contain--text"><b>Nom : </b>{{ opinion.name }}</li>
                <li class="opinion-show__contain--text"><b>Commentaire : </b>{{ opinion.avis }}</li>
                <li class="opinion-show__contain--text"><b>Note : </b>{{ opinion.score }}</li>
                <li class="opinion-show__contain--text"><b>Crée le : </b>{{ opinion.createdAt ? opinion.createdAt|date('d/m/Y') : '' }}</li>
            </ul>            
        </div>
        <div class="opinion-show__links">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('opinion/_delete_form.html.twig') }}
            {% endif %}
        </div>
        <a class='opinion-show__links--back-opinions' href="{{ path('app_opinion_index') }}">Retourner sur la page des avis</a>
        <section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
    </main>
{% endblock %}
