{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}
    {% for services_page in services_pages %}
        <section class="services">
            <img src="{{ asset('images/palmier.png')}}" alt="" class='services__icon'>
            <h1 class="services">{{ services_page.title }}</h1>
            <img src="{{ asset('images/palmier.png')}}" alt="" class='services__icon'>
        </section>
        <section>   
            <h2 class="services__title">Voici Nos services entretien:</h2>
            <div class="services__contain">
                <p class="services__text">{{ services_page.servicesPresentation }}</p>
            </div>
            <div class='contain'> 
                <img class='contain__images'src="{{ asset('images/photo-villa.jpg')}}" alt="photo de jardin">
                <img class='contain__images'src="{{ asset('images/photo-villa-2.jpg')}}" alt="photo de jardin">
                <img class='contain__images'src="{{ asset('images/garden-2040714_640.jpg')}}" alt="photo de jardin">
            </div>
        </section> 
        <section>
            <h2 class="services__title">Voici nos services création:</h2>
            <div class="services__contain">
                <p class="services__text">{{ services_page.creationPresentationText }}</p>
            </div>
            <div class="contain">
                <img class="contain__images" src="{{ asset('images/construction-site-.jpg')}}" alt="photo création">
                <img class="contain__images" src="{{ asset('images/construction-work-.jpg')}}" alt="photo création">
                <img class="contain__images" src="{{ asset('images/people-.jpg')}}" alt="photo création">
            </div>
        </section>
            <h2 class="services__title">Nos services spécialisés:</h2>
            <div class="services__contain">
                <p class="services__text">{{ services_page.specialServicesText }}</p>
            </div>
            <div class="contain">
                <img class="contain__images" src="{{ asset('images/swimming-pool.jpg')}}" alt="photo création">
                <img class="contain__images" src="{{ asset('images/pexels.jpg')}}" alt="photo création">
                <img class="contain__images" src="{{ asset('images/wash-concrete.jpg')}}" alt="photo création">
            </div>
        </section>
        {% if is_granted('ROLE_ADMIN') %}		
        <div class="services">
            <a class="buton" href="{{ path('app_services_page_edit', {'id': services_page.id}) }}">modifier</a>
        </div>
        {% endif %}
    {% endfor %}
    <section class="openingSection">
        {% include "opening/index.html.twig" %}
    </section>
{% endblock %}


