{% extends 'base.html.twig' %}

{% block title %}ServicesPage{% endblock %}

{% block body %}
    <h1>ServicesPage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ services_page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ services_page.title }}</td>
            </tr>
            <tr>
                <th>ServicesPresentation</th>
                <td>{{ services_page.servicesPresentation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_services_page_index') }}">back to list</a>

    <a href="{{ path('app_services_page_edit', {'id': services_page.id}) }}">edit</a>

    {{ include('services_page/_delete_form.html.twig') }}
{% endblock %}
