{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
    <main class="contact-page">
    {% for contact_page in contact_pages %}
        <section class="title-page">
            <div class="title-page__design">
                <img src="{{ asset('build/images/palmier.png')}}" alt="palmier qui tourne" class='title-page__icon'>
                <h1 class="title-page__title">{{ contact_page.title }}</h1>
                <img src="{{ asset('build/images/palmier.png')}}" alt="Palmier qui tourne" class='title-page__icon'>
            </div>
            <p class="title-page__text">{{ contact_page.presentationText }}</p>
        </section>
        <section class='form-contact'>
            <h1 class='form-contact__title'>Formulaire de contact</h1>
            <section class='form-contact__flux'>
                {{form(form, {'attr': {'class': 'form-contact__form'}})}}
            </section>
        </section>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="contact-page__admin-link" href="{{ path('app_contact_page_edit', {'id': contact_page.id}) }}">Modifier la page</a>
    {% endif %}
    {% endfor %}
        <section class="openingSection">
            {% include "opening/index.html.twig" %}
        </section>
    </main>
{% endblock %}
