{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}
    {% block body %}
        <h1 class='form-contact__title'>Formulaire de contact</h1>
        <div class="card" style="width: 25rem;">
            <div class=" card-body form-contact">
            {{ form_start(formContact, {'attr': {'class': 'contact-card'}}) }}
                {{ form_row(formContact.name)}}
                {{ form_row(formContact.firstName) }}
                {{ form_row(formContact.email) }}
                {{ form_row(formContact.phoneNumber) }}
                {{ form_row(formContact.subject) }}
                {{ form_row(formContact.message) }}
                <div class="form-contact">
                    <button type="submit" class="form-contact__buton">Envoyer</button>
                </div>
            {{ form_end(formContact) }}       
        </div>
{% endblock %}